@use "../../styles/variables";

$menu-width: 264px;

.menu-wrapper {
    height: fit-content;
    width: $menu-width;
    min-width: $menu-width;
    padding: 12px;

    border: variables.$divider-border;
    border-radius: variables.$large-radius;
}

.menu-list {
    width: 100%;
}

.menu-item {
    padding: 12px;
    border-radius: variables.$medium-radius;
    line-height: 1rem;

    transition: 0.2s;

    label {
        cursor: pointer;
    }

    &:has(input[checked]) {
        background-color: variables.$primary-color;
        color: variables.$text-contrast-color;
    }
}
