$primary-color: #5fbf77;

$text-primary-color: #39414b;
$text-contrast-color: #ffffff;

$divider-border-color: #cfcfe4;
$divider-border: $divider-border-color 1px solid;

$large-radius: 18px;
$medium-radius: 12px;

$box-shadow: 0px 10px 13px -4px #23235f30;
